img{
    height:350px;
    width:300px;
   margin:auto;
   margin-left:620px;
   margin-top:50px;
}
input[type="submit"]{
    height:50px;
    width:100px;
    background:aqua;
    color:black;
    margin-left:70px;
    margin-top:130px;
}
.container{
    padding-left:550px;
    margin-top:10px;
}